<p>Import Works</p>
<!-- 
<div fxLayout="column"  class="components-container-gt-xs"  [ngClass.xs]="'components-container-xs'"  fxLayoutGap="20px">

	<div fxFlex class="form-component-holder mat-elevation-z4">

        <div class="container">
            <mat-toolbar >
                <span class="fill-remaining-space">Arrival Entry Form</span>
              </mat-toolbar>
        </div>

    <div fxLayout="column"  class="widgetHolder-content" fxLayoutAlign="space-around stretch" style="background-color: white;">
        
        <div fxLayout="row" fxLayout="row wrap">
            <div class="example-container" fxFlex.lt-sm="100" fxFlex.sm="100" fxFlex.md="33">
                <mat-form-field appearance="outline" class="form-element">
                    <mat-label>Choose a ETA date</mat-label>
                    <input matInput [matDatepicker]="picker">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
            </div>

            <div class="example-container" fxFlex.lt-sm="100" fxFlex.sm="100" fxFlex.md="33">
                <mat-form-field class="form-element" appearance="outline">
                    <mat-label>Choose the Intending Agent</mat-label>
                    <mat-select [(value)]="selected1">
                      <mat-option>None</mat-option>
                      <mat-option value="option1">General</mat-option>
                      <mat-option value="option2">Nava Star</mat-option>
                      <mat-option value="option3">Vnmad Firm</mat-option>
                      <mat-option value="option3">SM International</mat-option>
                    </mat-select>
                  </mat-form-field>
            </div>
        
            <div class="example-container" fxFlex.lt-sm="100" fxFlex.sm="100" fxFlex.md="33">
                <mat-form-field appearance="outline" class="form-element">
                    <mat-label class="form-label">Enter the ContractNumber</mat-label>
                    <input matInput>
                  </mat-form-field>
            </div>
        </div>
        <div fxLayout="row" fxLayout="row wrap">
            <div class="example-container" fxFlex.lt-sm="100" fxFlex.sm="100" fxFlex.md="33">
                <mat-form-field appearance="outline" class="form-element">
                    <mat-label class="form-label">Enter the PartyName</mat-label>
                    <input matInput>
                  </mat-form-field>
            </div>
            <div class="example-container" fxFlex.lt-sm="100" fxFlex.sm="100" fxFlex.md="33">
                <mat-form-field appearance="outline" class="form-element">
                    <mat-label class="form-label">Enter the ShipperName</mat-label>
                    <input matInput>
                  </mat-form-field>
            </div>
            <div class="example-container" fxFlex.lt-sm="100" fxFlex.sm="100" fxFlex.md="33">
                <mat-form-field class="form-element" appearance="outline">
                    <mat-label>Choose the LCL/FCL</mat-label>
                    <mat-select [(value)]="selected2">
                      <mat-option>None</mat-option>
                      <mat-option value="option1">LCL</mat-option>
                      <mat-option value="option2">FCL</mat-option>
                    </mat-select>
                  </mat-form-field>
            </div>
        </div>
  
        <div fxLayout="row" fxLayout="row wrap">
            <div class="example-container" fxFlex.lt-sm="100" fxFlex.sm="100" fxFlex.md="33">
                <mat-form-field class="form-element" appearance="outline">
                    <mat-label>Choose the Container Type</mat-label>
                    <mat-select [(value)]="selected3">
                      <mat-option>None</mat-option>
                      <mat-option value="option1">20"</mat-option>
                      <mat-option value="option2">40"</mat-option>
                      <mat-option value="option3">Both</mat-option>
                      <mat-option value="option3">Other</mat-option>
                    </mat-select>
                  </mat-form-field>
            </div>
            <div class="example-container" fxFlex.lt-sm="100" fxFlex.sm="100" fxFlex.md="33">
                <mat-form-field appearance="outline" class="form-element">
                    <mat-label class="form-label">Number of 20" Container</mat-label>
                    <input matInput>
                  </mat-form-field>
            </div>
            <div class="example-container" fxFlex.lt-sm="100" fxFlex.sm="100" fxFlex.md="33">
                <mat-form-field appearance="outline" class="form-element">
                    <mat-label class="form-label">Number of 40" Container</mat-label>
                    <input matInput>
                  </mat-form-field>
            </div>
        </div>

        <div fxLayout="row" fxLayout="row wrap">
            <div class="example-container" fxFlex.lt-sm="100" fxFlex.sm="100" fxFlex.md="33" >
                <mat-form-field appearance="outline" class="form-element">
                    <mat-label class="form-label">Enter the CargoName</mat-label>
                    <input matInput>
                  </mat-form-field>
            </div>
            
            <div class="example-container" fxFlex.lt-sm="100" fxFlex.sm="100" fxFlex.md="33">
                <mat-form-field appearance="outline" class="form-element">
                    <mat-label class="form-label">Enter the Linear Name</mat-label>
                    <input matInput>
                  </mat-form-field>
            </div>
            <div class="example-container" fxFlex.lt-sm="100" fxFlex.sm="100" fxFlex.md="33">
                <mat-form-field appearance="outline" class="form-element">
                    <mat-label class="form-label">Enter the BL Number</mat-label>
                    <input matInput>
                  </mat-form-field>
            </div>  
        </div>
  
        <div fxLayout="row" fxLayout="row wrap">
            <div class="example-container" fxFlex.lt-sm="100" fxFlex.sm="100" fxFlex.md="33">
                <mat-form-field appearance="outline" class="form-element">
                    <mat-label>Choose a BL date</mat-label>
                    <input matInput [matDatepicker]="picker1">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                  </mat-form-field>
            </div>
            
            <div class="example-container" fxFlex.lt-sm="100" fxFlex.sm="100" fxFlex.md="33">
                <mat-form-field appearance="outline" class="form-element">
                    <mat-label class="form-label">Enter the HBL Number</mat-label>
                    <input matInput>
                  </mat-form-field>
            </div>
            <div class="example-container" fxFlex.lt-sm="100" fxFlex.sm="100" fxFlex.md="33">
                <mat-form-field appearance="outline" class="form-element">
                    <mat-label class="form-label">Enter the FreeDays</mat-label>
                    <input matInput>
                  </mat-form-field>
            </div>
        </div>

        <div fxLayout="row" fxLayout="row wrap">
            <div class="example-container" fxFlex.lt-sm="100" fxFlex.sm="100" fxFlex.md="33">
                <mat-form-field appearance="outline" class="form-element">
                    <mat-label class="form-label">Enter the Load Port</mat-label>
                    <input matInput>
                  </mat-form-field>
            </div>
            
            <div class="example-container" fxFlex.lt-sm="100" fxFlex.sm="100" fxFlex.md="33">
                <mat-form-field appearance="outline" class="form-element">
                    <mat-label class="form-label">Enter the Vessel Name</mat-label>
                    <input matInput>
                  </mat-form-field>
            </div>
            <div class="example-container" fxFlex.lt-sm="100" fxFlex.sm="100" fxFlex.md="33">
                <mat-form-field class="form-element" appearance="outline">
                    <mat-label>Choose the Container Type</mat-label>
                    <mat-select [(value)]="selected4">
                      <mat-option>None</mat-option>
                      <mat-option value="option1">Copy Document</mat-option>
                      <mat-option value="option2">Original Document</mat-option>
                      <mat-option value="option3">Phone</mat-option>
                      <mat-option value="option3">Other</mat-option>
                    </mat-select>
                  </mat-form-field>
            </div>
        </div>

        <div fxLayout="row" fxLayout="row wrap">
   
            <div class="example-container" fxFlex.lt-sm="100" fxFlex.sm="100" fxFlex.md="33">
                <mat-form-field appearance="outline" class="form-element">
                    <mat-label class="form-label">Enter the Voyage.No</mat-label>
                    <input matInput>
                  </mat-form-field>
            </div>

            <div class="example-container" fxFlex.lt-sm="100" fxFlex.sm="100" fxFlex.md="33">
                <mat-form-field appearance="outline" class="form-element">
                    <mat-label class="form-label">Enter the CFS</mat-label>
                    <input matInput>
                  </mat-form-field>
            </div>
            <div class="example-container" fxFlex.lt-sm="100" fxFlex.sm="100" fxFlex.md="33">
     
                 
              
            </div>
            
        </div>

    </div>
    </div>
    <div fxLayout="row" fxLayout="row wrap">
      <div class="form-element">
        <button mat-raised-button color="primary" type="submit" class="button" >Submit Form</button>
      </div>
    </div>
</div>


 -->
