.stats-cards {
    .mat-card {
      overflow: hidden;
    }
  }
  
  table {
    width: 100%;
  }
  
  .form-element {
    padding: 15px  15px 5px 15px;
    width: 100%;
    box-sizing: border-box;
  
  }
  
  .example-button-row button,
  .example-button-row a {
  margin-right: 8px;
  left: 1500px;
  }