
<div class="container mat-elevation-z8">
  <!-- <div class="form">
    <mat-form-field floatPlaceholder="never" color="accent">
      <input matInput #filter placeholder="Filter issues">
    </mat-form-field>
  </div> -->
  
  <div >
    <mat-toolbar >
      <mat-toolbar-row>
        <span class="fill-remaining-space">Dashboard</span>
        <!-- <span class="example-spacer"></span>
        <span flex></span> -->
        <span class="spacer"></span>
    
      </mat-toolbar-row>
    </mat-toolbar>
</div>
</div>
