<mat-card class="example-card">
<div fxLayout="column"  class="krl-row"  [ngClass.xs]="'components-container-xs'"  fxLayoutGap="20px">
  <div fxFlex class="krl-col" fxLayoutGap="20px">
    <mat-card-content>
    <mat-toolbar >
      <mat-toolbar-row>
        <span class="fill-remaining-space">Dashboard</span>
        <!-- <span class="example-spacer"></span>
        <span flex></span> -->
        <span class="spacer"></span>
    
      </mat-toolbar-row>
    </mat-toolbar>
   

    
   
  </mat-card-content>
</div>
</div>
</mat-card>
