
<!DOCTYPE html>
<html lang="en">
<head>
<title>Krishya Admin</title>
	
</head>
<body>

<div class="signupform">
	<div class="container">
		<!-- main content -->
		<div class="agile_info">
			<div class="w3l_form">
				<div class="left_grid_info">
					<h1>Manage Krishya Business Account</h1>
					<p>Business account </p>
					<img src="assets/images/image.jpg" alt="" />
				</div>
			</div>
			<div class="w3_info" align="center">
				<h2>Krishya Dashboard Page</h2>
				<!-- <p>Enter your details to login</p> -->
				<form  >
				
	<button class="btn btn-danger btn-block"  *ngIf="logoutbtn" class="btn btn-block" (click)="logout()" type="submit">Logout</button >  
						
				</form>
				</div>
		</div>
	</div>
</div>
	
</body>
</html>